<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Distracted Driver Detection System</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	
		<div class="header">
			<div class="headerImage"></div>
			<div class="headerText">
				<h1>Distracted Driver Detection and Rating System</h1>
			</div>
		</div>
		<div class="content">
			
			<div class="contentText"><p>Distracted driver detection system is a deep learning based application which makes the use of Convolutional Neural Network to take user images as input and predict the state of driving in order to avoid the accidents which are caused due to the distracted driver activity.</p>
			</div>
			<div class="buttonContainer">
				<a href="/login">Login</a>
				<a href="/register"><span style="white-space: nowrap">Sign up</span></a>
			</div>

		</div>

</body>
</html>