<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver's Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='loginStyle.css') }}">
</head>
<body>
    
    <div class="container">
        <div class="card">
            <form action="{{ url_for('login') }}" method="post">

                <label><strong>Username &nbsp;</strong>: </label><input type="text" placeholder="enter username" name="username">
                <label><strong>Password &nbsp;</strong>: </label><input type="password" placeholder="enter password" name="password">

                <input type="submit" value="Login">

                <a href="/register">new user..?</a>

                <div class="message">{{ msg }}</div>

            </form>
        </div>
    </div>
</body>
</html>